body {
    margin: 10px;
    padding: 0;
}

.wrapper {
    display: flex;
    height: calc(100vh - 20px);
}

.wrapper .viewer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wrapper .viewer .graphViewer{
    height: 700px;
    margin-bottom: 10px;
}

.wrapper .viewer #mainName{
    height: 8%;
    width: 50.5%;
    float: left;
}

.wrapper .viewer #subName{
    height: 8%;
    width: 49.5%;
    float: left;
}

.wrapper .viewer #networkViewer {
    border: 1px solid lightgray;
    height : 90%;
    width: 49.5%;
    float: left;
}

.wrapper .viewer #subgraphViewer {
    border: 1px solid lightgray;
    height : 90%;
    width: 49.5%;
    float: right;
}

.wrapper .viewer #timeline_visualization {
    flex-grow: 1;
    margin-bottom: 1px;
}

.wrapper .panel {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-left: 10px;
}

.wrapper .panel h1 {
    margin: 0;
    font-size: 25px;
}

.wrapper .panel .group {
    margin: 10px 0;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 5px;
}

.wrapper .panel .group .row {
    display: flex;
    margin: 5px 0;
}

.wrapper .panel .group .row .label {
    width: 100px;
    flex-shrink: 0;
    font-size: 15px;
}

.wrapper .panel .group .row input {
    margin: 0 5px 0 0;
    padding: 0;
}

.wrapper .panel .group .row .fit {
    flex: 1 1 auto;
    margin-right: 5px;
    min-width: 0;
}

.wrapper .panel .group .row .fit:last-child {
    margin-right: 0;
}

.wrapper .panel .group .rows {
    height: 60px;
    overflow: auto;
    font-size: 15px;
}

.wrapper .panel .group.last {
    background: none;
    flex-grow: 1;
    margin-bottom: 0;
}

.wrapper .panel .group .testrows {
    height: 540px;
    overflow: auto;
    font-size: 15px;
}

.wrapper .panel .group.last #patternViewer {
    height: 450px;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}